.diaryEditorWrapper {
  width: auto;
  height: auto;
  font-size: 1.1rem;
  text-align: center;
  padding: 3rem;
  border: 0.5rem gray dotted;
}

.diaryEditorWrapper input, textarea {
  width: 30%;
  font-size: 1.15rem;
  padding: 1.2rem;
  margin: 1.2rem;
}

.diaryEditorWrapper textarea {
  height: 10rem;
}

.emotionWrapper p, select {
  font-size: 1.1rem;
}

.emotionWrapper select {
  width: 4rem;
  height: 2rem;
}

.saveButton {
  width: 30%;
  height: 3rem;
  font-size: large;
  margin: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}